<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13D65</string>
	<key>CFBundleExecutable</key>
	<string>vibrant</string>
	<key>CFBundleIdentifier</key>
	<string>com.gamesfrommars.vibrant</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Vibrant</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>Vibrant.icns</string>
	<key>DTXcodeBuild</key>
	<string>5B1008</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>CFBundleSignature</key>
	<string>ABAB</string>
	<key>CFBundleVersion</key>
	<string>1.7.4</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTXcode</key>
	<string>0511</string>
</dict>
</plist>
